.App {
  height: 70vh;
  width: 30vw;
  background-color: white;
  border-radius: 2px;
  box-shadow: 2px 2px 8px black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}